# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build_*

# misc
.DS_Store
postgres_data
.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.abi
*.wasm

__docs

.idea/**/*

private.pem
public.pem

config.yaml
!config.example.yaml


